<div class="lg:col-10 col-12 m-auto mt-6">
    <div>
        <h2>
            About Us
        </h2>
    </div>
    <div>
        <h2>
            Al-Raza Properties
        </h2>
    </div>
    <div class="lg:flex col-12 p-0">
        <div class="lg:col-8 p-0 col-12">
            <div>
                <p> <b>Al-Raza Properties</b> is a well-known and respected name in the real estate industry, dedicated
                    to
                    providing
                    high-quality and comprehensive services to clients looking for properties in the market. With years
                    of
                    experience, our team of expert real estate professionals possesses a deep understanding of the local
                    market and can offer valuable insights to clients looking to buy, sell, or rent properties. Our
                    commitment to customer satisfaction is evident in the personalized attention and care we provide to
                    each
                    client, ensuring that their unique needs and preferences are met. At <b>Al-Raza Properties</b>, we
                    strive to
                    build long-lasting relationships with our clients, earning their trust and respect through our
                    unwavering dedication to excellence in service.</p>
            </div>
            <div>
                <h2>
                    Our Vision
                </h2>
                <div>
                    <p>
                        "Our vision at Al-Raza Properties is to become the leading real estate firm, setting the highest
                        standards of excellence in the industry. We aim to provide our clients with innovative and
                        personalized solutions that exceed their expectations, while also contributing to the growth and
                        development of the communities we serve. We strive to build long-lasting relationships with our
                        clients, earning their trust and respect through our commitment to integrity, professionalism,
                        and transparency. Ultimately, our goal is to be recognized as a company that makes a positive
                        difference in people's lives, helping them achieve their dreams of owning the perfect property."
                    </p>
                </div>
            </div>

            <div>
                <h2>
                    Our Mission
                </h2>
                <div>
                  <li>Safe & secure investment.</li>
                  <li>Responsible Services.</li>
                  <li>Best after-sales service in our core mission.</li>
                  <li>Create Innovation in Pakistan’s Real Estate Sector</li>
                </div>
            </div>

        </div>
        <div class="lg:col-4 col-12">
          <img src="../../../assets/home-page/propert-card/about.jpeg" alt="" width="100%" height="400px">
        </div>
    </div>
</div>