<!-- main header part  -->
<div class="col-12 myVideo">
  <div class="lg:col-11 pb-3 lg:m-auto">
    <div class="lg:col-12 col-12 hometext py-3 px-8 text-center">
      <h3 class="lg:text-6xl text-6xl">Find your best Property</h3>
      <div>

        <div class="mt-3  col-12">
          <span class="line-height-3  text-lg text-white">
            Esteem spirit temper too say adieus who direct esteem.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <app-about-us></app-about-us>
</div>


<div>
  <app-property-card></app-property-card>
</div>

<div>
  <app-footer></app-footer>
</div>