<div
  class="col-12 sm:block pt-5 flex-column md:col-12 lg:flex flex lg:flex-row"
>
  <div
    class="sm:col-6 lg:col-6 justify-content-between md:col-12 flex-column md:flex-column navtext lg-pt-4 mt-2 fadeinleft animation-duration-1000 animation-iteration-1"
  >
    <div
      class="md:flex-none p-2 lg:p-4 flex-column text-white lg:pt-7 lg:pb-0 best-online"
    >
      <div class="mb-3 paragraph">
        <span class="font-bold">Welcome to Breeo!</span>
      </div>
      <div class="mb-4 text">
        <span style="color: #f06724">Bridging</span
        ><span> the Gap between Your Educational Aspirations</span>
      </div>
      <div class="flex-3 text-paragraph mb-4 lg:pr-6 font-bold sub-text">
        <span
          >We are here to provide students with valuable advice and professional
          guidance so that those wishing to pursue their education abroad at
          both undergraduate and postgraduate levels can do so conveniently. At
          Breeo, we assist the students with everything from their
          accommodation, itinerary, and flight bookings..</span
        >
      </div>
      <div class="lg:mb-3 lg:pb-5 header-button">
        <button
          class="bottom-button"
          pButton
          type="button"
          label="Get Started Now !"
          (click)="startedNow()"
          iconPos="right"
          icon="pi pi-arrow-right"
        ></button>
      </div>
    </div>
  </div>
  <div class="lg:col-6 sm:col-12 md:col-12 m-auto">
    <!-- <div
      class="pic-body"
      style="background-image: url(../../../assets/study.png)"
    ></div> -->
  </div>
</div>
