<footer class="col-12 xl:col-12 lg:col-12 md:col-12 py-5">
    <div
      class="col-12 xl:col-11 md:col-11  lg:col-11 block md:flex md:flex-wrap lg:flex-nowrap align-items-center justify-content-between border-100  md:px-2 lg:px-0 lg:m-auto content-main border-bottom-1"
    >
      <div class="content p-0 md:h-17rem col-12 lg:col-3 md:col-5 text-white">
        <img routerLink="/" (click)="scrollPage()" class="col-6" src="../../../assets/property-logo.png" />
        <br />
        <span class="line-height-3"
          >Breeo is a dynamic consultancy company for overseas education.
        </span>
      </div>
      <div class="content md:h-17rem col-12 lg:col-2 md:col-6 text-white">
        <h3 class="text-center">Quick Links</h3>
        <ul class="list-none cursor-pointer line-height-4 text-lg">
          <li>
            <a routerLink="/" routerLinkActive="active-link" (click)="scrollPage()">Home</a>
          </li>
          <li>
            <a routerLink="aboutbreeo" (click)="scrollPage()">About</a>
          </li>
          <li>
          </li>
          <li>
            <a routerLink="contact" (click)="scrollPage()">Contact</a>
          </li>
        </ul>
      </div>
      <div class="content md:h-17rem col-12 md:col-6 lg:col-3 text-white">
        <h3 class="address text-center">Get In Touch</h3>
        <ul class="list-none line-height-4 text-lg flex flex-column">
          <li class="pi pi-map-marker line-height-3 address">
            <a href="https://goo.gl/maps/qN54iEStvnyLerfX9" target="_blank"
              >5200 Dixie Rd Unit 203,
              Mississauga, L4W 1E4</a
            >
          </li>
  
          <li class="pi pi-envelope line-height-3 mt-2 address">
            <a href="aliplaytowin@gmail.com">aliplaytowin@gmail.com</a>
          </li>
  
          <!--  phone number -->
  
          <li class="pi pi-phone line-height-3 mt-2 address">
            <a href="tel:+14379892203">+1 (437) 989-2203</a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="flex col-12 xl:col-11 md:col-12 md:p-0 lg:col-11 block md:flex align-items-center justify-content-between flex-column lg:flex-row m-auto border-top-3"
    >
      <div
        class="copy-right col-12 lg:col-10 md:col-11 m-auto text-left text-black"
      >
        <p class="text-base">
          &copy; 2022, <span class="font-bold"> Al-Raza Properties</span>. All rights
          reserved. All information is submitted privately. Created by
          <a class="font-semibold text-black"  style="color:black" target="_Blank">Muhammad Imran</a>
  
          
        </p>
      </div>
      <div
        class="phone text-black p-2 flex flex-row col-12 lg:col-2 md:col-11 justify-content-start text-right lg:justify-content-end"
      >
        <div class="social-icon my-auto flex">
          <div class="socailLink" (click)="openFacebook()">
            <i class="icon pi pi-facebook"></i>
          </div>
          <div class="socailLink" (click)="openInstagram()">
            <i class="icon pi pi-instagram"></i>
          </div>
        </div>
      </div>
    </div>
  </footer>
  